@import "tailwindcss";

.action-button {
    background-color: green;
    color: white;
    font-size: medium;
    padding-inline: 12px;
}

#category-card {
  touch-action: none;
}

.login-page >* Input {
  background-color: black;
  color:white
}
