@import "tailwindcss";

.action-button {
    background-color: green;
    color: white;
    font-size: medium;
    padding-inline: 12px;
}

Input {
  background-color: white;
}

.login-page >* Input {
  background-color: #f4f4f5;
}
